
/*Google Fonts - not working*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat' sans-serif;

}

/* Header */
header {
    background-color: #043959;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

header a {
    text-decoration: none;
    color: #ffffff;
}

   
#logo {
    text-align: center;
    font-size: 200%;
   
}


/* Main Content */
main {
    position: relative;
    min-height: 80vh;
    top: 10vh;
    left: 0;
    width: 100%;
}

#hero-image {
    background: url(../images/pexels-pixabay-247421.jpg);
    min-height: 80vh;
}

.nav-links-homepage {
    background-color: rgba ( 4, 57, 89, 0.6);
}

 
footer {
    background-color: #ffffff;
    left:0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    position: fixed;  
    
}

footer a {
    font-size: 120%;
    color: #043959;

}

#footer-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
