

/* Header */
header {
    background-color: #ffffff;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    padding-top: 20px;
    box-shadow: 0 1px 2px #3a3a3a;
}

   
#logo {
    text-align: center;
    color: navy;
    text-decoration: none;
}

/* Main Content */
main {
    background-color: aliceblue;
    position: relative;
    height: 80vh;
    top: 10vh;
    left: 0;
    width: 100%;


}

/* Footer */
footer {
    background-color: blue;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    position: fixed;
    
    
}
