/* Header */
header {
    background-color: #00004D;
    color:#F0E5D3;
    height: 50px;
}
/* Main Content */
main {
    background-color: #F0E5D3;
    color: #00004D;
    height: 700px;
}
/* Footer */
footer {
    background-color: #00004D;
    color:#F0E5D3;
    height: 50px;
}